<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DirectoryInfo" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="DailyPictureCopy.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <DirectoryInfo>
    <add key="sourcePath" value="C:\Users\username\Desktop\Month"/>
    <add key="targetPath" value="C:\Users\username\Desktop\Destination"/>
    <add key="CopiedFileName" value="NewNameOfThePicture"/>
  </DirectoryInfo>
</configuration>
